<html>
  <head>
    <meta charset="utf-8">
    <title>John's Pastebin Clone</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/sticky-footer-navbar.css" rel="stylesheet">
    <style type="text/css">
      textarea {
        font-family: Menlo, Monaco, Consolas, "Bitstream Vera Sans Mono", monospace;
      }
    </style>
  </head>
  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">
      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">John's Pastebin Clone</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/public">Home</a></li>
              {% if user %}<li><a href="/mine">My Pastes</a></li>{% endif %}
              <li><a href="/paste">New Paste</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if user %}
              <li><span class="navbar-text">Logged in as {{ user.email() }}</span></li>
              <li><a href="{{ logout_url }}">Logout</a></li>
              {% else %}
              <li><a href="{{ login_url }}">Log in with your Google account</a></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          {% block header %}<h1>Sticky footer with fixed navbar</h1>{% endblock %}
        </div>
        {% block content %}
        <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added within <code>#wrap</code> with <code>padding-top: 60px;</code> on the <code>.container</code>.</p>
        <p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>
        {% endblock %}
      </div>
    </div>

    <div id="footer">
      <div class="container">
        {% block footer %}
        <p class="text-muted credit">John Louis Del Rosario &copy; 2013</p>
        {% endblock %}
      </div>
    </div>
  </body>
</html>
