{% extends "base.html" %}
{% block header %}<h1>New Paste</h1>{% endblock %}
{% block content %}
<form role="form" method="post">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" class="form-control" value="Untitled">
  </div>
  <div class="form-group">
    <label>
      <input type="checkbox" name="is_private">
      <i class="glyphicon glyphicon-lock"></i> Private
    </label>
    {% if user %}
    &nbsp;
    <label>
      <input type="checkbox" name="as_anonymous">
      <i class="glyphicon glyphicon-eye-close"></i> Post anonymously
    </label>
    {% endif %}
  </div>
  <div class="form-group">
    <textarea name="content" class="form-control" rows="20"></textarea>
  </div>
  <div class="form-group">
    <label>Paste lifespan</label>
    <select name="lifespan">
      {% if user %}<option value="0">Don't delete</option>{% endif %}
      <option value="10">10 seconds</option>
      <option value="3600">1 hour</option>
      <option value="86400">1 day</option>
      <option value="604800" selected="selected">1 week</option>
      <option value="2592000">1 month</option>
    </select>
  </div>
  <input type="submit" class="btn btn-success" value="Save">
</form>
{% endblock %}
