{% extends "base.html" %}
{% block header %}<h1>Edit Paste</h1>{% endblock %}
{% block content %}
<form role="form" method="post">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" class="form-control" value="{{ paste.title }}">
  </div>
  <div class="form-group">
    <label>
      <input type="checkbox" name="is_private" {% if paste.is_private %}checked="checked"{% endif %}>
      <i class="glyphicon glyphicon-lock"></i> Private
    </label>
  </div>
  <div class="form-group">
    <textarea name="content" class="form-control" rows="20">{{ paste.decoded_content }}</textarea>
  </div>
  <input type="submit" class="btn btn-success" value="Save">
</form>
{% endblock %}
