{% extends "base.html" %}
{% block header %}<h1>All Pastes</h1>{% endblock %}
{% block content %}
<ul>
  {% for p in pastes %}
  <li>
  <a href="/p/{{ p.key.id() }}">{{ p.title or 'Untitled' }}</a> 
  {% if p.is_private %}<i class="glyphicon glyphicon-lock"></i>{% endif %}
  <small>({{ p.pretty_created }})</small>
  {% if p.owner == user %}
  <a href="/m/{{ p.key.id() }}">Edit</a>
  {% endif %}
  </li>
  {% endfor %}
</ul>
{% endblock %}
