{% extends "base.html" %}
{% block header %}<h1>{{ paste.title or 'Untitled'}} <small>({{ paste.pretty_created }})</small></h1>{% endblock %}
{% block content %}
<div class="row">
  <p>
  {% if paste.is_private %}
  This paste is <strong>private</strong>
  <i class="glyphicon glyphicon-lock"></i>
  {% else %}
  This paste is <strong>public</strong>
  {% endif %}
  </p>
</div>
<div class="row">
<pre>
{{ paste.decoded_content|e }}
</pre>
</div>
{% if user and paste.owner == user %}
<div class="row">
  <form method="post" action="/m/{{ paste.key.id() }}/delete">
    <a href="/m/{{ paste.key.id() }}" class="btn btn-info">Edit</a>
    <input type="submit" class="btn btn-danger" value="Delete">
  </form>
</div>
{% endif %}
{% endblock %}
